**.ipynb_checkpoints/
**__pycache__/
*.pyc
*.swp
Data/
Untitled.ipynb
vqe_sounds/
Session*/
DependentOrigination*/
Saber*/
h_setup_*
h1_*
h2_*
Recordings/
sort_paulis.py
to_pete_template/*.pem
to_pete_template/node_modules/
Chords/
Coupling/
Generated/
