**.ipynb_checkpoints/
**__pycache__/
*.pyc
*.swp
**_Data/
**EMS**
processing**
Data*/
Untitled.ipynb
vqe_sounds/
h_setup_*
h1_*
h2_*
Recordings/
sort_paulis.py
to_pete_template/*.pem
to_pete_template/node_modules/
test.py
synth/credentials_zen_local.json
testproj/
display_hexagonal_chambers/*/
display_hexagonal_chambers/LICENSE.txt
display_hexagonal_chambers/jre
display_hexagonal_chambers/sketch.properties
display_hexagonal_chambers/test.dat
display_hexagonal_chambers/test2.dat
java_hexagonal_chambers/
Patterns_Tests.ipynb
VQH-Recordings.zip
cligui_test*
music21test.py
scoretest*
