**.ipynb_checkpoints/
**__pycache__/
*.pyc
*.swp
**_Data/
Data/
Untitled.ipynb
vqe_sounds/
h_setup_*
h1_*
h2_*
Recordings/
sort_paulis.py
to_pete_template/*.pem
to_pete_template/node_modules/
test.py
